@use "../assets/scss/reset";
@use "../assets/scss/colors";
@use "../assets/scss/typography";
@use "../assets/scss/miscellaneous";
@use "../assets/scss/components";

body {
    background: colors.$clr-neutral-100;
    font-family: 'poppins';
}

.social-navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: miscellaneous.$gap-400;
    z-index: 1000;
    right: miscellaneous.$gap-600;
    bottom: miscellaneous.$gap-500;
}

.social-navbar ul {
    list-style: none;
    &:first-child {
        width: 2em;
        aspect-ratio: 1;
    }
}

.primary-navbar {
    margin-block: miscellaneous.$gap-500 miscellaneous.$gap-400;
    margin-inline: miscellaneous.$gap-500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .logo {
        width: 3em;
        aspect-ratio: 1;
        fill: colors.$clr-neutral-800;
    }
}

.secondary-navbar .hamburger{
    fill: colors.$clr-neutral-800;
    width: 2em;
    aspect-ratio: 1;
    margin: 0 auto;
    display: block;
    @media (min-width: 40em) {
        display: none;
    }
    &:hover {
        fill: colors.$clr-primary-600;
    }
}

.secondary-navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    @media (max-width: 40em) {
        display: none;
    }
    & #dark-mode {
        width: 2em;
        aspect-ratio: 1;
        background: url('/assets/media/moon.svg') top right/contain no-repeat;
        margin-left: miscellaneous.$gap-400;
    }
    /*& a {
        position: relative;
        color: colors.$clr-neutral-800;
        padding: 0.7em 1.25em;
        border-radius: 50px;
        text-transform: uppercase;
        & svg {
            position: absolute;
            width: 2em;
            aspect-ratio: 1;
            top: 50%;
            translate: 10% -50%;
            opacity: 0;
            scale: 0;
        }
        &:hover {
            background: colors.$clr-primary-600;
            color: colors.$clr-neutral-100;
            padding: 0.7em 3em 0.7em 1.25em;
            transition: all 700ms ease;
            & svg {
                opacity: 1;
                scale: 0.60;
                rotate: (-45deg);
                transition: all 250ms ease-in;
                transition-delay: 350ms;
                fill: colors.$clr-neutral-100;
            }
            & svg.point-down {
                rotate: (90deg);
                transition: all 250ms ease-in;
                transition-delay: 300ms;
            }
        }
    }*/
}

header {
    margin-block: miscellaneous.$gap-400;
    margin-inline: miscellaneous.$gap-500;
    color: colors.$clr-neutral-800;
    & .text-banner {
        position: relative;
        justify-content: space-between;
        margin-block: miscellaneous.$gap-500 miscellaneous.$gap-400;
        & > * {
            display: table-cell;
            vertical-align: bottom;
        }
        & .h1 {
            color: colors.$clr-primary-600;
        }
        & .right-banner {
            text-align: right;
            position: absolute;
            right: 0;
            bottom: -16%;
        }
    }
    & .hero {
        width: 100%;
        aspect-ratio: 16/9;
        @media (max-width:35em) {
            aspect-ratio: 9/16;
            background-size: cover;
        }
        background: url('/assets/media/istockphoto-1337005456-612x612.jpeg') center center / contain no-repeat;
    }
}

.marquee-box {
    display: flex;
    align-items: center;
    position: relative;
    width: 100dvw;
    height: 100%;
    margin-block: miscellaneous.$gap-300;
    background: colors.$clr-primary-600;
    padding: miscellaneous.$gap-500 ;
    overflow: hidden;
    & .marquee {
        position: absolute;
        display: table-cell;
        white-space: nowrap;
        text-overflow: fade;
        & p {
            display: inline-block;
            padding-left: 100%;
            padding-right: 15%;
            color: colors.$clr-neutral-100;
            text-align: center;
            text-transform: uppercase;
            animation: marquee 30s linear infinite;
        }
    }
    .marquee2 p {
        animation-delay: 15s;
      }
}
@keyframes marquee {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-100%);
    }
  }

  .about-me {
    margin-block: miscellaneous.$gap-400;
    margin-inline: miscellaneous.$gap-500;
    display: flex;
    gap: miscellaneous.$gap-600;
    flex-grow: 1;
    align-items: center;
    & .about-me-item {
        flex-grow: 1;
    }
    & .text-about-me {
        gap: miscellaneous.$gap-600;
        & p {
            max-width: 70ch;
            text-align: justify;
        }
    }
    & .img-about-me img{
        aspect-ratio: 1;
        border-radius: 50%;
        scale: 0.8;
    }
  }