@use "../assets/scss/reset";
@use "../assets/scss/colors";
@use "../assets/scss/typography";
@use "../assets/scss/miscellaneous";
@use "../assets/scss/components";

body {
  background: colors.$clr-neutral-100;
  font-family: "poppins";
}

.primary-navbar {
  margin-block: miscellaneous.$gap-500 miscellaneous.$gap-400;
  margin-inline: miscellaneous.$gap-500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .logo {
    width: 3em;
    aspect-ratio: 1;
    fill: colors.$clr-neutral-800;
  }
}

.secondary-navbar .hamburger {
  fill: colors.$clr-neutral-800;
  width: 2em;
  aspect-ratio: 1;
  margin: 0 auto;
  display: block;
  @media (min-width: miscellaneous.$s) {
    display: none;
  }
  &:hover {
    fill: colors.$clr-primary-600;
  }
}

.secondary-navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  @media (max-width: miscellaneous.$s) {
    display: none;
  }
  & #dark-mode {
    width: 2em;
    aspect-ratio: 1;
    background: url("/assets/media/moon.svg") top right/contain no-repeat;
    margin-left: miscellaneous.$gap-400;
  }
}

header {
  margin-block: miscellaneous.$gap-400;
  margin-inline: miscellaneous.$gap-500;
  color: colors.$clr-neutral-800;
  & .text-banner {
    position: relative;
    justify-content: space-between;
    margin-block: miscellaneous.$gap-500 miscellaneous.$gap-400;
    & > * {
      display: table-cell;
      vertical-align: bottom;
    }
    & .h1 {
      color: colors.$clr-primary-600;
    }
    & .right-banner {
      text-align: right;
      position: absolute;
      right: 0;
      bottom: -16%;
    }
  }
  & .hero {
    width: 100%;
    aspect-ratio: 16/9;
    @media (max-width: 35em) {
      aspect-ratio: 9/16;
      background-size: cover;
    }
    background: url("/assets/media/istockphoto-1337005456-612x612.jpeg") center
      center / contain no-repeat;
  }
}

.marquee-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 100dvw;
  height: 100%;
  margin-block: miscellaneous.$gap-500;
  background: colors.$clr-primary-600;
  padding: miscellaneous.$gap-500;
  overflow: hidden;
  & .marquee {
    position: absolute;
    display: table-cell;
    white-space: nowrap;
    text-overflow: fade;
    & p {
      display: inline-block;
      padding-left: 100%;
      padding-right: 15%;
      color: colors.$clr-neutral-100;
      text-align: center;
      text-transform: uppercase;
      animation: marquee 30s linear infinite;
    }
  }
  .marquee2 p {
    animation-delay: 15s;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.about-me {
  margin-block: miscellaneous.$gap-600;
  margin-inline: miscellaneous.$gap-500;
  gap: miscellaneous.$gap-600;
  display: flex;
  flex-wrap: wrap;
}

.about-me .about-me-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  justify-content: center;
  min-width: 35ch;
  & .text-banner {
    display: flex;
    flex-direction: column;
    gap: miscellaneous.$gap-300;
    & .button {
      align-self: flex-end;
      border: 2px solid colors.$clr-primary-600;
    }
  }
}

.about-me-img {
  max-width: 350px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.projects {
    margin-block: miscellaneous.$gap-600;
    background: colors.$clr-primary-600;
    padding: miscellaneous.$gap-600 0;
    & .card-title {
        margin-inline: miscellaneous.$gap-500;
        padding: miscellaneous.$gap-500 0;
        border-bottom: 2px solid colors.$clr-neutral-100;
        display: flex;
        justify-content: space-between;
        &:nth-child(1) {
            border-top: 2px solid colors.$clr-neutral-100;
        }
        & .h2 {
            color: colors.$clr-neutral-100;
        }
        & .button {
            border: 2px solid colors.$clr-neutral-100;
            color: colors.$clr-neutral-100;
        }
    }
    & .card-project {
        position: relative;
        margin-inline: miscellaneous.$gap-500;
        padding: miscellaneous.$gap-500 0;
        border-bottom: 2px solid colors.$clr-neutral-100;
        z-index: 1;
        & .card-bg {
            position: absolute;
            bottom: calc(miscellaneous.$gap-300 - 0.5em);
            width: 100%;
            height: 100%;
        }
        & .card-bg::before {
            content: '';
            position: absolute;
            bottom: calc(miscellaneous.$gap-300 - 0.5em);
            width: 102%;
            right: -1em;
            height: 100%;
        }
        & .card-bg:hover::before {
            background: url(/assets/media/istockphoto-1337005456-612x612.jpeg) center
            center / cover no-repeat;
            opacity: 0.3;
            filter: blur(4px);
            overflow: none;
            z-index: -1;
        }
        & .h2 {
            font-family: 'antonio';
            color: colors.$clr-neutral-800;
            line-height: 1;
        }
        & .h1, .h3{
            color: colors.$clr-neutral-100;
        }
    }
}

