$clr-primary: var(--clr-primary);
$clr-secondary: var(--clr-secondary);
$clr-neutral-dark: var(--clr-neutral-dark);
$clr-neutral-light: var(--clr-neutral-light);


:root {
  --clr-primary: #1434A4;
  --clr-secondary: #FFAC1C;
  --clr-neutral-dark: #333;
  --clr-neutral-light: #f7f7f7;
}

.dark-theme {
  --clr-primary: #FFAC1C;
  --clr-secondary: #1434A4;
  --clr-neutral-dark: #f7f7f7;
  --clr-neutral-light: #333;
}