@use "../scss/colors";
@use "../scss/typography";
@use "../scss/miscellaneous";

// ARTICLE

article {
    margin-inline: miscellaneous.$spacer-600; 
}


// BUTTON

$button: (
    border:2.5px solid colors.$clr-secondary,
    border-radius: 64px,
    padding: 0.6em 0 0.6em 1.5em,
    font-family: 'Poppins',
    font-weight: typography.$font-weight-400,
    text-transform: uppercase,
    font-size: typography.$font-size-400,
    color: colors.$clr-secondary,
    width: fit-content,
    justify-self: end,
);

.button {
    @each $property, $value in $button {
        #{$property}: $value;
    }
}

.button .arrow {
    margin-left: 0.5em;
    width: 1.3em;
    fill: colors.$clr-neutral-light;
    visibility: hidden;
    opacity: 0;
    scale: 0;
}

.button:hover {
    color: colors.$clr-neutral-light;
    background: colors.$clr-secondary;
    padding: 0.6em 1.5em 0.6em 1.5em;
    transition: all 250ms ease;
}

.button:hover .arrow{
    visibility: visible;
    opacity: 1;
    scale: 0.8;
    rotate: (-45deg);
    transition: all 250ms ease-in;
    transition-delay: 250ms;
}

.button:hover .downside{
    visibility: visible;
    opacity: 1;
    scale: 0.8;
    rotate: (90deg);
    transition: all 250ms ease-in;
    transition-delay: 250ms;
}

// H2

$h2: (
    font-size: typography.$font-size-700,
    font-weight: typography.$font-weight-400,
    font-family: 'Poppins',
    text-transform: capitalize,
    color: colors.$clr-neutral-light,
    line-height: 0.8,
);

.h2 {
    @each $property, $value in $h2 {
        #{$property}: $value;
    }
}

// Paragraph

$paragraph: (
    font-size: typography.$font-size-400,
    font-weight: typography.$font-weight-400,
    font-family: 'Poppins',
    text-transform: none,
    color: colors.$clr-neutral-light,
    line-height: 1.25,
    max-width: 60ch,
    text-align: justify,
);

.paragraph {
    @each $property, $value in $paragraph {
        #{$property}: $value;
    }
}

// Flex box even columns

$flex-even-column: (
    display: flex,
    flex-wrap: wrap,
    align-items: center,
    justify-content: center,
    margin-block: miscellaneous.$spacer-600,
    padding-block: miscellaneous.$spacer-600,
    gap: miscellaneous.$spacer-600,
);

.flex-even-column {
    @each $property, $value in $flex-even-column {
        #{$property}: $value;
    }
}

.flex-even-column > .column {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 350px;
    padding-block: miscellaneous.$spacer-600;
}

.text-banner {
    display: grid;
    place-items: center;
}

.subcolumn {
    display: grid;
    gap: miscellaneous.$spacer-600;
}

.flex-even-column > .image-banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.round.pic {
    border-radius: 50%;
    aspect-ratio: 1;
    width: 60%;
    max-width: 400px;
    background: red;
}