@use "../scss/colors";
@use "../scss/typography";
@use "../scss/miscellaneous";

// H1

$h1: (
    color: colors.$clr-primary-600,
    font-family: typography.$font-family-heading,
    font-size: typography.$font-size-800,
    font-weight: typography.$font-weight-300,
    text-transform: uppercase,
    line-height: 1,
);

.h1 {
    @each $property, $value in $h1 {
        #{$property}: $value;
    }
}

// H2

$h2: (
    color: colors.$clr-primary-600,
    font-family: typography.$font-family-main,
    font-size: typography.$font-size-700,
    font-weight: typography.$font-weight-300,
    text-transform: capitalize,
);

.h2 {
    @each $property, $value in $h2 {
        #{$property}: $value;
    }
}

// H3

$h3: (
    color: colors.$clr-primary-600,
    font-family: typography.$font-family-main,
    font-size: typography.$font-size-600,
    font-weight: typography.$font-weight-600,
    text-transform: capitalize,
);

.h3 {
    @each $property, $value in $h3 {
        #{$property}: $value;
    }
}


// H4

$h4: (
    color: colors.$clr-primary-600,
    font-family: typography.$font-family-main,
    font-size: typography.$font-size-500,
    font-weight: typography.$font-weight-600,
    font-style: italic,
    text-transform: capitalize,
);

.h4 {
    @each $property, $value in $h4 {
        #{$property}: $value;
    }
}

//p

p {
    color: colors.$clr-neutral-800;
    font-family: typography.$font-family-main;
    font-size: typography.$font-size-400;
    font-weight: typography.$font-weight-400;
    text-transform: capitalize;
}

// button

.button {
    position: relative;
    padding: 0.7em 1.25em;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    border-style: none;
    background: #77777700;
    color: colors.$clr-neutral-800;
    margin-block: miscellaneous.$gap-400;
    & svg {
        position: absolute;
        width: 2em;
        aspect-ratio: 1;
        top: 50%;
        translate: 10% -50%;
        opacity: 0;
        scale: 0;
    }
    &:hover {
        background: colors.$clr-primary-600;
        color: colors.$clr-neutral-100;
        padding: 0.7em 3em 0.7em 1.25em;
        transition: all 700ms ease;
        & svg {
            opacity: 1;
            scale: 0.60;
            rotate: (-45deg);
            transition: all 250ms ease-in;
            transition-delay: 350ms;
            fill: colors.$clr-neutral-100;
        }
        & svg.point-down {
            rotate: (90deg);
            transition: all 250ms ease-in;
            transition-delay: 300ms;
        }
    }
}