@font-face {
    font-family: 'Poppins';
    src: url(/assets/typography/Poppins-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Poppins';
    src: url(/assets/typography/Poppins-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url(/assets/typography/Poppins-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Antonio';
    src: url(/assets/typography/Antonio-Light.ttf);
    font-weight: 300;
}

$font-size-800:8em;
$font-size-700:3.75em;
$font-size-600:3em;
$font-size-500:1.25em;
$font-size-400:1;

$font-weight-600:600;
$font-weight-400:400;
$font-weight-300:300;

$font-family-heading:'Antonio';
$font-family-main:'Poppins';